<!DOCTYPE html>

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signin.css') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link href="static/icon_pics/favicon.png" type="image/png" rel="shortcut icon">
    

    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title>술고래는 채식주의자</title>
    {% endif %}
</head>

<body>
    <header class="logoHeader">
        <div class="headerLogo">
            <div class="a" style="margin-top: 3px;">
                <img src="static/nowHereWave.svg" class="logoIcon" width="24" height="24" style="margin-bottom: 9px">
                <span class="logoTitle" onclick="window.location.href='/'">술고래는 채식주의자</span>
            </div>
        </div>
        <div class="header-right">
            {% if current_user.is_authenticated %}
            <div class="a">
                <a href="{{ url_for('posts.new_post') }}">
                    <span class="headerMenu">새 포스트</span>
                </a>
            </div>
            <div class="a">
                <a href="{{ url_for('users.account') }}">
                    <span class="headerMenu">{{ current_user.username }}님</span>
                </a>
            </div>
            <div class="a">
                <a href="{{ url_for('users.logout') }}">
                    <span class="headerMenu">로그아웃</span>
                </a>
            </div>
            {% else %}
            <div class="a">
                <a href="{{ url_for('main.home') }}">
                    <span class="headerMenu">술집지도</span>
                </a>
            </div>
            <div class="a">
                <a href="{{ url_for('users.login') }}">
                    <span class="headerMenu">로그인</span>
                </a>
            </div>
            <div class="a">
                <a href="{{ url_for('users.register') }}">
                    <span class="headerMenu">회원가입</span>
                </a>
            </div>
            {% endif %}
        </div>
    </header>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

</body>

</html>