<!DOCTYPE html>
{% include 'layout_ext.html' %}
{% block body %}
<div class="accountLoginContainer">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="aLoginHeader">
            <div class="aTitle">
                회원가입
            </div>
            <div class="aContent">
                <span class="aContentNonmember">
                    이미 술고래예요?
                </span>
                <a class="aContentButtonSignup" href="{{ url_for('users.login') }}">로그인하기</a>
            </div>
        </div>
        <div class="aLoginContent">
            <div class="form-group">
                <label for="username">술고래 이름*</label>
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="formField") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">이메일*</label>
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="formField") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">비밀번호*</label>
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="formField") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="confirm_password">비밀번호 확인*</label>
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>비밀번호와 일치해야 합니다.</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="formField") }}
                {% endif %}
            </div>
            <div class="form-group">
                <input class="submitBtn" id="submit" name="submit" type="submit" value="회원가입">
            </div>
        </div>
    </form>
</div>
{% endblock %}