<!DOCTYPE html>
{% include 'layout_ext.html' %}
{% block body %}
<div class="accountLoginContainer">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="aLoginHeader">
            <div class="aTitle">
                비밀번호 재설정
            </div>
        </div>
        <div class="aLoginContent">
            <div class="form-group">
                <label for="email">이메일</label>
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="formField") }}
                {% endif %}
            </div>
        </div>

        <!-- <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div> -->
        <div class="form-group">
            <input class="submitBtn" id="submit" name="submit" type="submit" value="비밀번호 재설정">
        </div>
    </form>
</div>
{% endblock%}