        /* KAKAO MAP */

        .map_wrap,
        .map_wrap * {
            margin: 0;
            padding: 0;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .map_wrap {
            position: relative;
        }

        #menu_wrap {
            display: block;
            background: rgba(255, 255, 255, 0.8);
        }

        #menu_wrap2 {
            display: block;
            background: rgba(255, 255, 255, 0.8);
        }

        .bg_white {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 22%;
            margin: 10px 10px 10px 10px;
            padding: 20px 5px 5px 5px;
            overflow-y: scroll;
            z-index: 1;
            border-radius: 10px;
        }

        .bg_white2 {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 22%;
            margin: 10px 10px 10px 23%;
            padding: 20px 5px 5px 5px;
            overflow-y: scroll;
            z-index: 1;
            border-radius: 10px;
        }

        .bg_white::-webkit-scrollbar {
            display: none;
        }

        .bg_white2::-webkit-scrollbar {
            display: none;
        }

        .bg_white .informResults {
            display: block;
            text-align: center;
            font-size: 14px;
            font-family: sans-serif;
            margin-top: 3em;
        }

        #menu_wrap hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid rgba(22, 87, 209, 0.9);
            margin: 8px 3px;
        }

        #menu_wrap2 hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid rgba(22, 87, 209, 0.9);
            margin: 8px 3px;
        }

        #placesList li {
            list-style: none;
        }

        #placesList li:hover {
            background-color: rgba(22, 87, 209, 0.9);
            border-radius: 10%;
        }

        #placesList .item {
            position: relative;
            border-bottom: 1px dotted rgba(22, 87, 209, 0.9);
            overflow: hidden;
            cursor: pointer;
            min-height: 65px;
            margin-top: 20px;
        }

        #placesList .item span {
            display: block;
            margin-top: 4px;
        }

        #placesList .item h5,
        #placesList .item .info {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 15px;
        }


        #placesList .item .info {
            padding: 10px 0 10px 55px;
            font-size: 14px;
        }

        #placesList .info .gray {
            color: #8a8a8a;
        }

        #placesList .info .tel {
            color: #009900;
        }

        #placesList .item .markerbg {
            float: left;
            position: absolute;
            width: 36px;
            height: 37px;
            margin: 10px 0 0 10px;
            background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
        }

        #placesList .item .marker_1 {
            background-position: 0 -10px;
        }

        #placesList .item .marker_2 {
            background-position: 0 -56px;
        }

        #placesList .item .marker_3 {
            background-position: 0 -102px
        }

        #placesList .item .marker_4 {
            background-position: 0 -148px;
        }

        #placesList .item .marker_5 {
            background-position: 0 -194px;
        }

        #placesList .item .marker_6 {
            background-position: 0 -240px;
        }

        #placesList .item .marker_7 {
            background-position: 0 -286px;
        }

        #placesList .item .marker_8 {
            background-position: 0 -332px;
        }

        #placesList .item .marker_9 {
            background-position: 0 -378px;
        }

        #placesList .item .marker_10 {
            background-position: 0 -423px;
        }

        #placesList .item .marker_11 {
            background-position: 0 -470px;
        }

        #placesList .item .marker_12 {
            background-position: 0 -516px;
        }

        #placesList .item .marker_13 {
            background-position: 0 -562px;
        }

        #placesList .item .marker_14 {
            background-position: 0 -608px;
        }

        #placesList .item .marker_15 {
            background-position: 0 -654px;
        }

        #grad1 {
            background-color: rgba(22, 87, 209, 0.9);
        }

        .searchContainer {
            background-color: #FFF;
            position: relative;
            border-radius: 5px;
            padding: 3px 50px 3px 10px;
        }

        .searchBox {
            background-color: transparent;
            outline: none;
            height: 30px;
            font-size: 15px;
            border: 0;
            width: 100%;
        }

        .searchButton {
            position: absolute;
            right: 14px;
            top: 8px;
            background-color: transparent;
            border-radius: 40%;
            border: 0;
            color: black;
            font-size: 15px;
            outline: 0;
        }

        .toggleButton {
            position: absolute;
            right: 14px;
            top: 8px;
            background-color: transparent;
            border-radius: 40%;
            border: 0;
            color: black;
            font-size: 13px;
            outline: 0;
        }

        .toggleButton:hover {
            background-color: chartreuse;
            color: rgba(22, 87, 209, 0.9);
        }


        #filterDiv {
            display: none;
        }

        #filter2Div {
            display: none;
        }

        .filterBtn {
            text-align: left;
            padding: 3px 10px;
            margin-top: 8px;
            font-size: 12px;
            border: 0;
            background-color: white;
            border-radius: 10%;
        }

        .filterChk {
            text-align: left;
            font-size: 6px;
        }

        .filterBtn:hover {
            background-color: rgba(22, 87, 209, 0.9);
            color: whitesmoke;
        }

        .timeFilter {
            /* margin-bottom: 9px; */
            text-align: center;
            display: none;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }


        .make-center {
            text-align: center;
        }


        /* menu_wrap2에 나오는 메뉴 리스트  */
        .star-list {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .star-name {
            display: inline-block;
        }

        .star-name:hover {
            text-decoration: underline;
        }

        .card {
            margin-bottom: 15px;
        }
