/* KAKAO MAP */

.map_wrap, .map_wrap * {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.map_wrap {
    position: relative;
    height: 100vh;
    /* padding: 7px; */
}

#search_wrap {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(31, 69, 252);
}

#menu_wrap {
    display: none;
    background: rgba(255, 255, 255, 0.8);
}

#navi_wrap {
    display: block;
    background-color: transparent;
}

.bg_white {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 22%;
    margin: 7px;
    padding: 20px 6px 2px 6px;
    z-index: 1;
    border-radius: 0 10px;
}

.bg_white3 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 11%;
    margin: 7px 7px 7px 88.75%;
    padding: 12px 0;
    text-align: center;
    color: rgb(31, 69, 252);
    z-index: 2;
    border-radius: 0 10px;
}

#menuList::-webkit-scrollbar {
    width: 5px;
}

#menuList::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

#menuList::-webkit-scrollbar-thumb {
    background: rgb(31, 69, 252);
    border-radius: 10px;
}

#placesList::-webkit-scrollbar {
    width: 5px;
}

#placesList::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

#placesList::-webkit-scrollbar-thumb {
    background: rgb(31, 69, 252);
    border-radius: 10px;
}

#placesList {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 741px;
    width: 100%;
    padding: 1px;
    z-index: 1;
    overflow-y: scroll;
    margin: 2px;
    background-color: transparent;
}

.informResults {
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 6em;
}

#search_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(31, 69, 252);
    margin-top: 8px;
}

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(31, 69, 252);
    margin-top: 8px;
}

#placesList li {
    list-style: none;
}

#menuList li {
    list-style: none;
}

#placesList li:hover {
    background-color: #00ea90;
    border-radius: 0 0 5% 5%;
}

#menuList li:hover {
    background-color: #00ea90;
    border-radius: 0 5%;
}

#placesList .item {
    position: relative;
    border-bottom: 2px dotted rgb(31, 69, 252);
    overflow: hidden;
    cursor: pointer;
    min-height: 60px;
    padding: 7px 5px;
}

#menuList {
    padding: 1px;
    overflow-y: scroll;
    height: 705px;
}

#menuList li {
    position: relative;
    border-bottom: 2px dotted rgb(31, 69, 252);
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    padding: 7px;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    /* font-weight: bold; */
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
    font-size: 14px;
    margin-left: 58px;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .placebg {
    float: left;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 5px 0px 10px 0px;
    /* background: url("static/bigMarker.svg") no-repeat; */
}

.customoverlay {
    position: relative;
    bottom: 79px;
    left: 5px;
    border-radius: 5px;
    background: rgb(31, 69, 252);
    float: left;
    z-index: 2;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay .title {
    display: block;
    text-align: center;
    background: rgba(255, 255, 255);
    color: rgb(31, 69, 252);
    margin-right: 25px;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: bold;
    z-index: 3;
}

.customoverlay a {
    display: block;
    text-align: center;
    padding-right: 12px;
    border-radius: 5px;
    font-weight: bold;
    overflow: hidden;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

#grad1 {
    background-color: rgb(31, 69, 252);
}

.searchContainer {
    background-color: rgb(31, 69, 252);
    color: white;
    position: relative;
    border-radius: 0 6px 0 6px;
    padding: 3px 50px 3px 10px;
}

.searchBox {
    background-color: transparent;
    outline: none;
    color: #00ea90;
    height: 30px;
    font-size: 15px;
    border: 0;
    width: 100%;
}

.searchBox::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.searchButton {
    position: absolute;
    right: 4px;
    top: 6px;
    background-color: transparent;
    border-radius: 40%;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    outline: none;
    border: 0;
}

.searchButton:active {
    color: #00ea90;
}

.toggleButton {
    position: absolute;
    right: 14px;
    top: 8px;
    background-color: transparent;
    border-radius: 40%;
    border: 0;
    color: rgb(31, 69, 252);
    font-size: 13px;
    outline: 0;
}

.toggleButton:hover {
    background-color: #00ea90;
    border-radius: 0 3%;
}

.distance {
    position: absolute;
    right: 14px;
    top: 8px;
    background-color: transparent;
    border-radius: 40%;
    border: 0;
    color: rgb(31, 69, 252);
    font-size: 13px;
    outline: 0;
}

#filterDiv {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

a:hover svg, a:focus svg {
    transform: scale(1.1, 1.1);
}

a:focus {
    outline: none;
}

#map {
    position: relative;
    /* width: 66.15%; */
    height: 100%;
    overflow: hidden;
    /* margin-left: 22.5%; */
    /* border-radius: 0 10px 0 10px; */
}

/* Styling Checkbox Starts */

.checkbox-container {
    font-weight: 600;
    margin-left: 16px;
    margin-bottom: 4px;
    color: rgb(31, 69, 252);
    float: left;
    width: 15.2%;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 18px;
}

.input-title {
    clear: both;
    font-size: 12px;
    color: rgb(31, 69, 252);
    font-weight: 600;
}

.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    margin: auto;
    font-size: 14px;
    line-height: 24px;
    height: 10px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 0 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid rgb(31, 69, 252);
}

.checkbox-label input:checked~.checkbox-custom {
    background-color: rgb(31, 69, 252);
    border-radius: 0 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid rgb(31, 69, 252);
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid rgb(31, 69, 252);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked~.checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #00ea90;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

/* For Ripple Effect */

.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #00ea90;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkbox-label input:checked~.checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

/* Style for Circular Checkbox */

.checkbox-label .checkbox-custom.circular {
    border-radius: 50%;
    border: 2px solid rgb(31, 69, 252);
}

.checkbox-label input:checked~.checkbox-custom.circular {
    background-color: rgb(31, 69, 252);
    border-radius: 50%;
    border: 2px solid rgb(31, 69, 252);
}

.checkbox-label input:checked~.checkbox-custom.circular::after {
    border: solid #00ea90;
    border-width: 0 2px 2px 0;
}

.checkbox-label .checkbox-custom.circular::after {
    border-radius: 50%;
}

.checkbox-label .checkbox-custom.circular::before {
    border-radius: 50%;
    border: 2px solid #00ea90;
}

.checkbox-label input:checked~.checkbox-custom.circular::before {
    border-radius: 50%;
}