.accountLoginContainer {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(31, 69, 252);
    word-break: break-all;
    max-width: 600px;
    margin: 11em auto;
    padding: 24px 48px 36px;
}

.accountLoginContainer .aLoginHeader {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 16px;
    color: rgb(31, 69, 252);
    word-break: break-all;
    display: flex;
    align-items: baseline;
}

.accountLoginContainer .aLoginContent {
    margin-top: 1em;
}

.accountLoginContainer .aLoginHeader .aTitle {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    color: rgb(31, 69, 252);
    word-break: break-all;
    font-size: 24px;
    /* margin-bottom: .75em; */
    margin-right: 4px;
}

.accountLoginContainer .aLoginHeader .aContent {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 16px;
    color: rgb(31, 69, 252);
    word-break: break-all;
    /* margin-bottom: 24px; */
}

.accountLoginContainer .aLoginHeader .aContent .aContentNonmember {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 16px;
    color: rgb(31, 69, 252);
    word-break: break-all;
}

.accountLoginContainer .aLoginHeader .aContent .aContentButtonSignup {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 16px;
    word-break: break-all;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    color: rgb(31, 69, 252);
    text-decoration: underline;
}

.accountLoginContainer .aLoginHeader .aContent .aContentButtonSignup:hover {
    color: rgb(0, 235, 145);
}

.accountLoginContainer .aLoginFooter {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 16px;
    color: rgb(31, 69, 252);
    word-break: break-all;
    display: flex;
    align-items: baseline;
}

.accountLoginContainer .aLoginFooter .aContent {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 16px;
    color: rgb(31, 69, 252);
    word-break: break-all;
    margin-bottom: 24px;
}

.accountLoginContainer .aLoginFooter .aContent .aContentForgotPW {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 16px;
    color: rgb(31, 69, 252);
    word-break: break-all;
}

.accountLoginContainer .aLoginFooter .aContent .aContentButtonResetPW {
    -webkit-tap-highlight-color: rgb(31, 69, 252);
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 16px;
    word-break: break-all;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    color: rgb(31, 69, 252);
    text-decoration: underline;
}

.accountLoginContainer .aLoginFooter .aContent .aContentButtonResetPW:hover {
    color: rgb(0, 235, 145);
}

.control-label {
    display: none;
}

/* BUTTONS */

.submitBtn {
    font-size: 20px;
    padding: 0.75rem 0;
    width: 100%;
    text-align: center;
    border: 0.1rem solid rgb(31, 69, 252);
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background-color: rgb(31, 69, 252);
    margin-top: .5em;
    margin-bottom: .5em;
}

.submitBtn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(0, 235, 145);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    color: white;
    background-color: rgb(31, 69, 252);
}

.submitBtn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* FIELDS */

.formField {
    font-size: 16px;
    padding: .75rem;
    width: 100%;
    text-align: left;
    border: 0.1rem solid rgb(31, 69, 252);
    text-decoration: none;
    color: rgb(31, 69, 252);
    background-color: white;
}

.formField::placeholder {
    color: rgb(31, 69, 252);
}

.formField:focus {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(0, 235, 145);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    color: rgb(31, 69, 252);
    border: 0.1rem solid rgb(31, 69, 252);
    font-weight: 600;
    outline: none;
}

.formField[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.form-check2 {
    position: relative;
    display: block;
}

/* CHECKBOX */

.checkBox {
    border: 0.1rem solid rgb(103, 201, 203);
    color: rgb(103, 201, 203);
    background-color: rgb(103, 201, 203);
}

.checkBox:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(9, 196, 199, 0.5);
    color: rgb(103, 201, 203);
}

.checkBox[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.error {
    color: rgb(255, 0, 64);
    font-size: 16px;
    width: 100%;
    text-align: center;
    border: transparent;
    text-decoration: none;
    margin: auto;
}

.msg {
    color: rgb(31, 69, 252);
    font-size: 16px;
    width: 100%;
    text-align: center;
    border: transparent;
    text-decoration: none;
    margin: auto;
}

/* 아이디 저장하기 체크박스 */

input[type="checkbox"] {
    position: relative;
    width: 1em;
    height: 1em;
    color: rgb(31, 69, 252);
    border: 1px solid rgb(31, 69, 252);
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    transition: 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    align-items: center;
}

input[type="checkbox"]::before {
    position: absolute;
    content: '';
    outline: none;
    display: block;
    top: 1px;
    left: 4px;
    width: 5px;
    height: 10px;
    border-style: solid;
    border-color: rgb(0, 235, 145);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked {
    background: rgb(31, 69, 252);
    outline: none;
}

input[type="checkbox"]:checked::before {
    opacity: 1;
    outline: none;
}

input[type="checkbox"]:checked~label::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    outline: none;
}

label {
    position: relative;
    cursor: pointer;
    font-family: "Noto Sans KR', sans-serif";
    font-size: 15px;
    padding: 0 0.5em 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(31, 69, 252);
    outline: none;
}

.rounded-circle-img {
    border-radius: 50% !important;
    width: 75px;
    height: 75px;
    margin: 0 1rem 0 0;
    vertical-align: middle;
    color: rgb(31, 69, 252);
}

.file_upload input[type="file"] {
    position: absolute;
    top: -2px;
    left: -80px;
    margin-left: 100%;
    color: rgb(31, 69, 252);
    outline: none;
}

label[for="actual-btn"] {
    background-color: rgb(31, 69, 252);
    color: white;
    padding: 0.75rem;
    cursor: pointer;
}

#file-chosen {
    margin-left: 0.5rem;
}